.tabla{
    position: absolute;
    top: 260px;
    left: 10%;
    font-family: Arial;
    
    

    }

    .datos{
        background-color: white;
        top: 50px;
        width: 180%;
        color: black !important;
    
       
        
    }


